   /* =========================================
    TELA guilda
   ========================================= */

:root {
  /* Paleta de Cores do Jogo (Use com var(--nome-da-cor)) */
  --bg-escuro: #0d0f36;
  --bg-batalha: #294380;
  --bg-ui: #1a2a4f;
  --bg-preto: #121312;
  --bg-cinza: #252628;
  --borda-ouro: #d28f22;
  --borda-prata: #a0abbc;
  --borda-ciano: #2a7f8a;
  --cor-vida: #157407;
  --cor-mana: #0284ba;
  --cor-alerta: #5d0018;
}

#guilda-tela {
  background-color: var(--bg-preto);
}
   
.TelasTitles {
  height: 7vh;
  background-color: #1a2a4f;
  color: white;
  border: 2px solid var(--borda-prata);
}
   
#GNPC {
  height: 30vh;
  border-left: 2px solid var(--borda-prata);
  border-right: 2px solid var(--borda-prata);
  border-bottom: 2px solid var(--borda-prata);
  background-image: url('/imagens/Sprites/Receptionist.png');
}

#guilda-body2 {
  flex-grow: 1;
}
   
#guilda-body {
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--bg-cinza);
  border-left: 2px solid var(--borda-prata);
  border-right: 2px solid var(--borda-prata);
}
  
#Linha1, #Linha2 {
  height: 50%;
  flex-direction: row;
  gap: 20px;
  color: white;
}

#Linha1 {
  padding: 15px 15px 7px 15px;
}
#Linha2 {
  padding: 7px 15px 15px 15px;
}
   
#Missoes, #Bestiario, {
  width: 50%;
}
   
#Missoes {
  background-image: url('/imagens/Sprites/Mission.png');
  background-color: var(--cor-alerta);
}
#Bestiario {
  background-image: url('/imagens/Sprites/Bestiario.png');
  background-color: var(--cor-alerta);
}
   
.btnG, .btnBS {
  height: 100%;
  background-color: var(--cor-alerta);
  border: 2px solid #d28f22;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}
.btnG {
  width: 33vw;
}

#Botoes-container {
  flex-shrink: 0; 
}
/* =========================================
    TELA BESTIARIO
========================================= */
.btnBS {
  width: 100vw;
}
#BestiarioTitle {
  height: 7vh;
  flex-shrink: 0; 
  background-color: #1a2a4f;
  color: white;
  border: 2px solid var(--borda-prata);
}

#BestiarioBody{
  flex-grow: 1;
  background-color: var(--bg-escuro);
  border-left: 2px solid var(--borda-prata);
  border-right: 2px solid var(--borda-prata);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
}

.BestiarioRows {
  height: auto;
  width: 100%;
  border: 2px solid var(--borda-ouro);
  background-color: var(--bg-preto);
  display: flex;
  flex-direction: column;
}
.BesTitles {
  width: 100%;
  padding: 10px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--borda-ouro);
  background-color: var(--bg-ui);
  color: white;
}
.BestBody {
  flex: 1;
  width: 100%;
  background-color: var(--bg-escuro);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12vh;
  padding: 5px;
  gap: 5px;
}
.MonstroCard {
  width: 100%;
  height: 100%;
  border: 2px solid var(--borda-ouro);
  background-color: var(--bg-cinza);
}

/* PopUp do BESTUARIO */
.PopUps {
  position: absolute;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
}

#BPopUpBox {
  width: 80%;
  height: 75%;
  background-color: #294380;
  display: flex;
  flex-direction: column;
  border: 3px solid #a0abbc;
}

#BPopUpImg {
  position: relative;
  width: 100%;
  height: 45%;
  background-image: url('/imagens/cenarios/Bestiario_fundo.png');
}
#BpopupMonster {
  width: 40%;
  height: 50%;
  position: absolute;
  top: 43%;
  z-index: 50;
  background-image: url('/imagens/monstros/spider.png');
}

#BPopConteudo {
  width: 100%;
  height: 55%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 30px;
}
#BestMonstrosInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px;
  border-top: 3px solid var(--borda-ouro);
  border-bottom: 3px solid var(--borda-ouro);
  border-left: 1px solid var(--borda-ouro);
  border-right: 1px solid var(--borda-ouro);
  background-color: var(--bg-escuro);
}
.BeatMonstroRowPop {
  width: 50%;
  height: 100%;
}
#BestMonstroDetalhes {
  display: flex;
  flex-direction: column;
}
#BestMonstroStatus {
  border-left: 1px solid var(--borda-ouro);
}

/* BestMonstroDetalhes filhos */
/* filho 1 */
#BMonsterNome {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid var(--borda-ouro);
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 5px;
}
.BNomedoMonstro {
  color: white;
  font-size: 16px;
}
.BMonstroTitulo {
  color: white;
  font-size: 12px;
}

/* filho 5 */
#BMonsterBase {
  width: 100%;
  height: 10%;
  font-size: 14px;
  padding: 5px;
  color: white;
  border-bottom: 1px solid var(--borda-ouro);
}

/* filho 2 */
#BmonsterInfos {
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 3px;
}
.InfoText {
  color: white;
  font-size: 10px;
}

/* filho 3 */
#BMonsterAtributos {
  width: 100%;
  height: 17%;
  border-bottom: 1px solid var(--borda-ouro);
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  gap: 5px;
}
.AtributosM {
  width: 100%;
  height: 100%;
  border: 1px solid var(--borda-ouro);
  display: flex;
  flex-direction: column;
}
.AtMon {
  width: 100%;
  height: 70%;
  color: white;
  font-size: 12px;
}
.NumbMons {
  width: 100%;
  height: 70%;
  color: white;
  font-size: 10px;
}
.NumbMons, .AtMon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* filho 4 */
#BMonsterSkills {
  width: 100%;
  height: 35%;
}

/* BestMonstroStatus filhos */
