   /* =========================================
    TELA guilda
   ========================================= */
   
#guilda-tela {
  background-color: #252628;
}
   
#Guild-Title {
  height: 7vh;
  background-color: #252628;
  background-color: #5d0018;
  color: white;
}
   
#GNPC {
  height: 30vh;
  background-image: url('/imagens/Sprites/Receptionist.png');
}

#guilda-body2 {
  flex-grow: 1;
  background-color: #252628;
}
   
#guilda-body {
  flex-grow: 1;
  background-color: #252628;
  flex-direction: column;
}
  
#Linha1, #Linha2 {
  height: 50%;
  background-color: #252628;
  flex-direction: row;
  gap: 20px;
  color: white;
}

#Linha1 {
  padding: 15px 15px 7px 15px;
}
#Linha2 {
  padding: 7px 15px 15px 15px;
}
   
#Missoes, #Bestiario, {
  width: 50%;
}

#xx {
  width: 100%;
}
   
#Missoes {
  background-image: url('/imagens/Sprites/Mission.png');
}
#Bestiario {
  background-image: url('/imagens/Sprites/Bestiario.png');
}
   
.btnG {
  height: auto;
  width: 33vw;
  background-color: #5d0018;
  border: 2px solid #d28f22;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}