/* =========================================
   TELA SHOP STYLES
========================================= */

#Shop-tela{
  background-color: #121312;
}

/*---------------------------------*/
/* Titulo-CAIXA */
#Title-container {
  height: 7vh;
  background-color: #5d0018;
  color: white;
  flex-direction: row;
}
#titulo {
  min-width: 60%;
  justify-content: right;
}
#coinPlayer {
  min-width: 40%;
  justify-content: center;
}
/*---------------------------------*/

/* NPC-CAIXA */
#NPC-CONTAINER {
  height: 33vh;
  background-color: #121312;
  flex-direction: row;
}
   
#NPC-SPRITE {
  width: 50vw;
  background-image: url('/imagens/Sprites/Lojista.png');
  background-size: cover;
}
   
#ITEMS-CONTAINER {
  width: 50vw;
  background-color: #252628;
  padding: 7px;
  color: white;
  flex-direction: column;
  border-left: 3px solid #d28f22;
}

#ITEMS-PAI {
  height: 80%;
  color: white;
  flex-direction: column;
}

/* 1° DIV DO ITEMS-PAI*/
#ITEMSInfos-PAI {
  height: 30%;
  flex-direction: row;
}
#ITEM-Icon{
  width: 40%;
}
#ITEM-Icon img {
  width: 100%;
  height: 100%;
}
#NOMEdoITEM {
  width: 60%;
  border-right: 2px solid #d28f22;
  border-top: 2px solid #d28f22;
  border-bottom: 2px solid #d28f22;
}

/* 2° DIV DO ITEMS-PAI*/
#ITEMSDescricoes-PAI {
  height: 70%;
  background-color: #252628;
  border-right: 2px solid #d28f22;
  border-left: 2px solid #d28f22;
  padding: 5px;
  flex-direction: column;
}
#ITEMDescricao {
  height: 80%;
  font-size: 14px;
  line-height: 1.4;
}

#QUANTIDADEPlayer {
  height: 20%;
  border-top: 2px solid #d28f22;
  padding-top: 5px;
}

/*---------------------------------*/
#btnComprar {
  height: 20%;
  border-top: 2px solid #d28f22; 
  padding-top: 6px;
}
#btnComprar button {
  height: 100%;
  color: white;
  background-color: #5d0018;
}

/*---------------------------------*/
/* ITEMS-CAIXA */
#InventarioDosItems {
  height: 50vh;
  background-color: #252628;
  display: grid;
  border-left: 2px solid #d28f22;
  border-top: 2px solid #d28f22;
  border-right: 2px solid #d28f22;
  border-bottom: 2px solid #d28f22;
  
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 7px;
}
   
.slots, .slotsE {
  width: auto;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d28f22;
}
.slotsE {
  background-color: #5d0018;
  font-size: 40px;
}
#Potion {
  background-image: url('/imagens/Items/Potion.png');
}
#Potionx2 {
  background-image: url('/imagens/Items/Potionx2.png');
}
#Energy {
  background-image: url('/imagens/Items/Energy.png');
}
#Energyx2 {
  background-image: url('/imagens/Items/Energyx2.png');
}
#Elixir {
  background-image: url('/imagens/Items/Elixir.png');
}
#Full_heal {
  background-image: url('/imagens/Items/Full heal.png');
}
#PoisonP {
  background-image: url('/imagens/Items/PoisonP.png');
}
#FireP {
  background-image: url('/imagens/Items/FireP.png');
}
#FreezeP {
  background-image: url('/imagens/Items/FreezeP.png');
}
#ElectricP {
  background-image: url('/imagens/Items/ElectricP.png');
}
#Antidote {
  background-image: url('/imagens/Items/Antidote.png');
}
#Revive {
  background-image: url('/imagens/Items/Revive.png');
}
#Torch {
  background-image: url('/imagens/Items/Torch.png');
}
#DeathP {
  background-image: url('/imagens/Items/Death potion.png');
}
/*---------------------------------*/

/* ITEMS-CAIXA */
.btnL {
  height: auto;
  width: 33vw;
  background-color: #5d0018;
  border: 3px solid #d28f22;
  color: white;
}