:root {
  --cor-principal-azul: #294380;
  --cor-alerta-violeta: #5d0018;
  --cor-complementar-cinza: #252628;
  --cor-terceario-Verde: #31a35c;
  --cor-secundaria-amarelo: #8a8300;
  --cor-quartiaria-roxo: #400ca0;
  --cor-ui-azulMarinho: #008ca3;
  --borda-ouro: #d28f22;
  --borda-prata: #a0abbc;
  --cor-vida: #157407;
  --cor-mana: #0284ba;
}
/* ======================================================
    SALAS TELA
======================================================*/
#salas-tela {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url('/imagens/cenarios/Tresporta.jpg');
}

#parteDeCima {
  display: flex;
  justify-content: space-around; 
  align-items: flex-end;
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 25%;
  gap: 7%;
  padding: 1%;
}

.Portas {
  width: 23%;
  height: 60%;
  position: relative;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.PortasE {
  background-color: transparent;
  cursor: pointer;
}

.emojis {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  transform: translateX(-50%);
  opacity: 0.9; 
  mix-blend-mode: hard-light;
}
.emojis span:first-child {
  font-size: 60px;
  filter: grayscale(30%) contrast(1.2) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.9));
}
.emojis span:last-child {
  font-size: 14px;
  color: #999; 
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

/* =========================================
   AJUSTES INDIVIDUAIS (MÓDULOS)
   ========================================= */

/* --- PORTA 1 (Esquerda) --- */
#Porta1 .emojis {
  transform: translateX(-50%) perspective(500px) rotateY(50deg) skewY(11deg); 
  height: 30%;
  top: 8%;
  left: 35%;
}
#Porta1 .PortasE {
  transform: skewY(-12deg);
  height: 50%;
  width: 80%;
}
#Porta1 {
  left: 5%;
}

/* --- PORTA 2 (Meio) --- */
#Porta2 .emojis {
  transform: translateX(-50%) perspective(0) rotateY(0deg); 
  top: 20%;
  width: 70%;
  left: 45%;
  height: 25%;
}
#Porta2 .PortasE {
  transform: skewY(0deg); 
  height: 45%;
  width: 100%;
}

#Porta2 {
  bottom: 18%;
}

/* --- PORTA 3 (Direita) --- */
#Porta3 .emojis {
  transform: translateX(-50%) perspective(500px) rotateY(-50deg) skewY(-12deg); 
  height: 30%;
  top: 8%;
  left: 42%;
}
#Porta3 .PortasE {
  transform: skewY(10deg);
  height: 50%;
  width: 75%;
}

#Porta3 {
  right: 2%;
}

#SetasSalas {
  height: 10%;
  width: 75%;
  display: flex;
  flex-basis: row;
  position: relative;
  top: 65%;
  left: 13%;
}
.Setas{
  height: 100%;
  width: 100%;
  border: 2px solid var(--borda-prata);
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#PlyrEAliados {
  height: 25%;
  width: 75%;
  position: relative;
  top: 66%;
  left: 13%;
  /*display: grid;
  grid-auto-columns: 100%%;
  grid-template-rows: repeat(1, 1fr);*/
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
  border: 2px solid var(--borda-ouro);
}
.persEmCmapo {
  height: 100%;
  width: 100%;
  border: 2px solid var(--borda-prata);
  background-image: url('/imagens/Characters/knight_front.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#PlyrECampo {
  
}
#Aliado1EmCampo {
  
}
#Aliado1EmCampo {
  
}
/* ======================================================
    MAPA TELA - ESTRUTURA PRINCIPAL
======================================================*/
#mapa-tela {
  background-color: var(--cor-complementar-cinza);
  z-index: 1;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

#MapaTitle {
  height: 8vh;
  width: 50%;
  position: fixed; 
  left: 25%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--cor-ui-azulMarinho);
  border: 2px solid var(--borda-prata);
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px black; 
}

#mapa-conteudo {
  min-width: 100vw;
  min-height: 100vh;
  width: max-content; 
  padding: 10vh 20px 15vh 20px;
  box-sizing: border-box; 
  z-index: 5;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-auto-columns: 14vh;
  gap: 20px;
  align-content: center; 
  background-image: linear-gradient(to top, #0d0f36, #294380);
  border: 2px solid var(--borda-prata);
}

#mapaBotoes {
  height: 9vh;
  width: 98%;
  padding: 1%;
  gap: 1%;
  position: fixed; 
  bottom: 0;
  left: 1%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 2px solid var(--borda-prata);
  color: white;
  text-shadow: 2px 2px 4px black; 
}

#miniMap {
  background-image: url('/imagens/Icons/Mapa.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* ======================================================
    MAPA TELA - COMPONENTES INTERNOS
======================================================*/
.salaSlot {
  width: 12vh;
  height: 12vh;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem; 
}

.salaSemPlayer { border: 2px solid white; }
.salaDoPlayer  { border: 2px solid var(--borda-ouro); }

.mapaBtn {
  width: 25%;
  height: 100%;
  background-color: var(--cor-alerta-violeta);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* ======================================================
    PERFIL TELA 
======================================================*/
#perfilC-tela {
  background-color: var(--cor-complementar-cinza);
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

#perfilBotoes {
  height: 9vh;
  width: 100%;
  position: relative;
  left: 1px;
  padding: 1%;
  gap: 1%;
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 2px solid var(--borda-prata);
  color: white;
  text-shadow: 2px 2px 4px black; 
}

#PerfilCTitle {
  height: 6vh;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--cor-ui-azulMarinho);
  border: 2px solid var(--borda-prata);
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px black; 
}
#PerfiesC {
  background-image: url('/imagens/Icons/Character.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#perfilConteudo {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
  /*background-image: linear-gradient(to top, #0d0f36, #294380);*/
  border-left: 2px solid var(--borda-prata);
  border-right: 2px solid var(--borda-prata);
  border-bottom: 2px solid var(--borda-prata);
}
.BoxPerfies {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 2px solid var(--borda-prata);
  color: white;
  font-size: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#perfilConteudo2 {
  flex: 5;
  width: 100%;
  padding: 1%;
  gap: 1%;
  background-color: var(--cor-principal-azul);
  display: flex;
  flex-direction: row;
  border-left: 2px solid var(--borda-prata);
  border-right: 2px solid var(--borda-prata);
}
.BoxPerfilC {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding: 2%;
  padding-top: 4%;
}
.PContainer {
  border: 1px solid var(--borda-prata);
  background-color: rgb(46,49,50);
}
.PTContainer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borda-prata);
  background-color: rgb(46,49,50);
}
#PersIdleTitle {
  width: 80%; height: 12%;
  position: relative; left: 10%; bottom: 5%;
  z-index: 1;
}
#PersIdle { 
  width: 100%; height: 50%; 
}

#PersGears { width: 100%; height: 60%; }
#PersGearsTitle {
  width: 80%; height: 10%;
  position: relative; left: 10%; bottom: 5%;
  z-index: 1;
}
#gersSlots {
  width: 100%; height: 90%;
  border: 1px solid var(--borda-prata);
  background-color: rgb(46,49,50);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.ll {
  width: 100%; height: 100%;
  border: 1px solid var(--borda-prata);
  background-color: rgb(6,100,131);
}

#Persstatus { width: 100%; height: 50%; }
#PersstatusTitle {
  width: 80%; height: 12%;
  position: relative; left: 10%; bottom: 4%;
  z-index: 1;
}
#PerStatusDivs {
  width: 100%; height: 88%;
  border-top: 1px solid var(--borda-prata);
  background-color: rgb(6,100,131);
}
#PerStatusDivsLvlHpMana {
  width: 100%; height: 40%;
  display: flex;
  flex-direction: column;
}
.DivPerfil {
  width: 100%; height: 100%;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

#PerStatusDivsStatus {
  width: 100%; height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.DivsStatus {
  width: 100%; height: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#PersSkills { width: 100%; height: 40%; }
#PersSkillsTitle {
  width: 80%; height: 15%;
  position: relative; left: 10%; bottom: 5%;
  z-index: 1;
}

#HPDiv, #MANADiv {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
#HpTextDiv, #ManaTextDiv {
  width: 20%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ManaTextDiv {
  margin-left: 3%;
}
#HpFillDiv, #ManaFillDiv {
  width: 70%; height: 100%;
  border: 1px solid var(--borda-prata);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}
#HpFillDiv {
  background-color: #106410;
}
#ManaFillDiv {
  background-color: #0e6095;
}
/* ======================================================
    TESOURO TELA
======================================================*/
#Tesouro-tela {
  background-color: black;
  z-index: 10;
  display: flex;
  align-items: center;
  background-image: url('/imagens/cenarios/Umaporta.png');
}

#TesouroTitle {
  width: 80%;
  height: 20%;
  position: relative;
  top: 10%;
  padding: 3%;
  font-size: 20px;
  background-color: var(--cor-complementar-cinza);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Tesouro-conteudo {
  flex: 1;
  width: 100%;
  /*border: 2px solid var(--borda-ouro);*/
}
#BauImg {
  position: relative;
  width: 40%;
  height: 35%;
  top: 60%;
  left: 30%;
  background-image: url('/imagens/Icons/Chest.png');
}

#TesouroBotoes {
  width: 80%;
  height: 20%;
  background-color: var(--cor-complementar-cinza);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 3%;
}
.tesouroBtn {
  width: 100%;
  height: 100%;
  background-color: var(--cor-alerta-violeta);
  border: 1px solid var(--borda-prata);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    SAFEROOM TELA
======================================================*/
#safeRoom-tela  {
  background-color: black;
  z-index: 11;
}

#SaferoomTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--cor-ui-azulMarinho);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#saferoom-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#safeRoomBotoes {
  width: 100%;
  height: 9dvh;
  background-color: var(--cor-alerta-violeta);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.SaferoomBTN {
  width: 33%;
  height: 100%;
  background-color: var(--cor-alerta-violeta);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    EVENTOS TELA
======================================================*/
#encontro-tela  {
  background-color: black;
  z-index: 12;
}

#EventosTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--cor-ui-azulMarinho);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Eventos-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#EventosBotoes {
  width: 100%;
  height: 9dvh;
  background-color: var(--cor-alerta-violeta);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.EventosBTN {
  width: 33%;
  height: 100%;
  background-color: var(--cor-alerta-violeta);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    SUBIDA TELA
======================================================*/
#Subida-tela  {
  background-color: black;
  z-index: 12;
}

#SubidaTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--cor-ui-azulMarinho);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Subida-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#SubidaBotoes {
  width: 100%;
  height: 9dvh;
  background-color: var(--cor-alerta-violeta);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.SubidaBTN {
  width: 33%;
  height: 100%;
  background-color: var(--cor-alerta-violeta);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    POSIÇÕES DAS SALAS
======================================================*/

/*------+---- LAYOUT 1 (16 Salas) -----------------*/
#Sala1_1  { grid-area: 3 / 1; }  #Sala1_2  { grid-area: 3 / 2; }
#Sala1_3  { grid-area: 3 / 3; }  #Sala1_4  { grid-area: 3 / 4; }
#Sala1_5  { grid-area: 3 / 5; }  #Sala1_6  { grid-area: 3 / 6; }
#Sala1_7  { grid-area: 1 / 7; }  #Sala1_8  { grid-area: 2 / 7; }
#Sala1_9  { grid-area: 4 / 3; }  #Sala1_10 { grid-area: 5 / 3; }
#Sala1_11 { grid-area: 2 / 4; }  #Sala1_12 { grid-area: 1 / 4; }
#Sala1_13 { grid-area: 1 / 5; }  #Sala1_14 { grid-area: 1 / 6; }
#Sala1_15 { grid-area: 3 / 7; }  #Sala1_16 { grid-area: 3 / 8; }

/*------+---- LAYOUT 2 (16 Salas) -----------------*/
#Sala2_1  { grid-area: 3 / 1; }  #Sala2_2  { grid-area: 2 / 1; }
#Sala2_3  { grid-area: 1 / 1; }  #Sala2_4  { grid-area: 1 / 2; }
#Sala2_5  { grid-area: 1 / 3; }  #Sala2_6  { grid-area: 2 / 3; }
#Sala2_7  { grid-area: 3 / 3; }  #Sala2_8  { grid-area: 4 / 3; }
#Sala2_9  { grid-area: 4 / 4; }  #Sala2_10 { grid-area: 4 / 5; }
#Sala2_11 { grid-area: 4 / 6; }  #Sala2_12 { grid-area: 4 / 7; }
#Sala2_13 { grid-area: 1 / 4; }  #Sala2_14 { grid-area: 1 / 5; }
#Sala2_15 { grid-area: 3 / 7; }  #Sala2_16 { grid-area: 3 / 8; }

/*------+---- LAYOUT 3 (20 Salas) -----------------*/
#Sala3_1  { grid-area: 3 / 1; }  #Sala3_2  { grid-area: 3 / 2; }
#Sala3_3  { grid-area: 3 / 3; }  #Sala3_4  { grid-area: 3 / 4; }
#Sala3_5  { grid-area: 3 / 5; }  #Sala3_6  { grid-area: 3 / 6; }
#Sala3_7  { grid-area: 2 / 3; }  #Sala3_8  { grid-area: 1 / 3; }
#Sala3_9  { grid-area: 1 / 4; }  #Sala3_10 { grid-area: 1 / 5; }
#Sala3_11 { grid-area: 1 / 6; }  #Sala3_12 { grid-area: 2 / 6; }
#Sala3_13 { grid-area: 4 / 3; }  #Sala3_14 { grid-area: 5 / 3; }
#Sala3_15 { grid-area: 3 / 7; }  #Sala3_16 { grid-area: 3 / 8; }
#Sala3_17 { grid-area: 5 / 4; }  #Sala3_18 { grid-area: 5 / 5; }
#Sala3_19 { grid-area: 5 / 6; }  #Sala3_20 { grid-area: 4 / 6; }

/*------+---- LAYOUT 4 (20 Salas) -----------------*/
#Sala4_1  { grid-area: 2 / 1; }  #Sala4_2  { grid-area: 3 / 1; }
#Sala4_3  { grid-area: 4 / 1; }  #Sala4_4  { grid-area: 5 / 1; }
#Sala4_5  { grid-area: 5 / 2; }  #Sala4_6  { grid-area: 5 / 3; }
#Sala4_7  { grid-area: 5 / 4; }  #Sala4_8  { grid-area: 5 / 5; }
#Sala4_9  { grid-area: 5 / 6; }  #Sala4_10 { grid-area: 5 / 7; }
#Sala4_11 { grid-area: 4 / 7; }  #Sala4_12 { grid-area: 3 / 7; }
#Sala4_13 { grid-area: 2 / 6; }  #Sala4_14 { grid-area: 2 / 5; }
#Sala4_15 { grid-area: 2 / 7; }  #Sala4_16 { grid-area: 1 / 7; }
#Sala4_17 { grid-area: 2 / 4; }  #Sala4_18 { grid-area: 2 / 3; }
#Sala4_19 { grid-area: 3 / 3; }  #Sala4_20 { grid-area: 3 / 2; }

/*------+---- LAYOUT 5 (20 Salas) -----------------*/
#Sala5_1  { grid-area: 5 / 1; }  #Sala5_2  { grid-area: 4 / 1; }
#Sala5_3  { grid-area: 3 / 1; }  #Sala5_4  { grid-area: 2 / 1; }
#Sala5_5  { grid-area: 1 / 1; }  #Sala5_6  { grid-area: 1 / 2; }
#Sala5_7  { grid-area: 1 / 3; }  #Sala5_8  { grid-area: 1 / 4; }
#Sala5_9  { grid-area: 1 / 5; }  #Sala5_10 { grid-area: 1 / 6; }
#Sala5_11 { grid-area: 2 / 6; }  #Sala5_12 { grid-area: 3 / 6; }
#Sala5_13 { grid-area: 4 / 6; }  #Sala5_14 { grid-area: 5 / 6; }
#Sala5_15 { grid-area: 3 / 3; }  #Sala5_16 { grid-area: 3 / 4; }
#Sala5_17 { grid-area: 5 / 5; }  #Sala5_18 { grid-area: 5 / 4; }
#Sala5_19 { grid-area: 5 / 3; }  #Sala5_20 { grid-area: 4 / 3; }