:root {
  --bg-escuro: #0d0f36;
  --bg-batalha: #294380;
  --bg-ui: #1a2a4f;
  --bg-preto: #121312;
  --bg-cinza: #252628;
  --borda-ouro: #d28f22;
  --borda-prata: #a0abbc;
  --borda-ciano: #2a7f8a;
  --cor-vida: #157407;
  --cor-mana: #0284ba;
  --cor-alerta: #5d0018;
}
/* ======================================================
    SALAS TELA
======================================================*/
#salas-tela {
  position: relative;
  background-color: var(--bg-preto);
}

#miniMap {
  width: 30%;
  height: 15%;
  position: absolute;
  top: 2%;
  right: 2%;
  border: 2px solid var(--borda-ouro);
  background-color: var(--bg-batalha);
  background-image: url('/imagens/Icons/Mapa.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#parteDeCima {
  width: 100%;
  height: 60%;
  background-color: var(--bg-escuro);
  display: flex;
  flex-direction: row;
  gap: 4%;
  padding: 1%;
  justify-content: center;
  align-items: flex-end;
}
.Portas {
  background-color: var(--borda-prata);
  border: 2px solid var(--borda-ciano);
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}

#parteDeBaixo{
  background-color: var(--bg-cinza);
  border-top: 2px solid var(--borda-ouro);
  width: 100%;
  height: 40%;
}

/* ======================================================
    MAPA TELA - ESTRUTURA PRINCIPAL
======================================================*/
#mapa-tela {
  background-color: var(--bg-cinza);
  z-index: 1;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

#MapaTitle {
  height: 8vh;
  width: 50%;
  position: fixed; 
  left: 25%;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  align-items: center; 
  
  background-color: var(--bg-ui);
  border: 2px solid var(--borda-prata);
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px black; 
}

#mapa-conteudo {
  min-width: 100vw;
  min-height: 100vh;
  width: max-content; 
  padding: 10vh 20px 15vh 20px;
  box-sizing: border-box; 
  z-index: 5;
  
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-auto-columns: 14vh;
  gap: 20px;
  align-content: center; 
  
  background-image: linear-gradient(to top, #0d0f36, #294380);
  border: 2px solid var(--borda-prata);
}

#mapaBotoes {
  height: 9vh;
  width: 95%;
  padding: 1%;
  gap: 1%;
  position: fixed; 
  bottom: 0;
  left: 3%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-preto);
  border: 2px solid var(--borda-prata);
  color: white;
  text-shadow: 2px 2px 4px black; 
}

/* ======================================================
    MAPA TELA - COMPONENTES INTERNOS
======================================================*/
.salaSlot {
  width: 12vh;
  height: 12vh;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem; 
}

.salaSemPlayer { border: 2px solid white; }
.salaDoPlayer  { border: 2px solid var(--borda-ouro); }

.mapaBtn {
  width: 25%;
  height: 100%;
  background-color: var(--cor-alerta);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* ======================================================
    TESOURO TELA
======================================================*/
#Tesouro-tela {
  background-color: black;
  z-index: 10;
}

#TesouroTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--bg-ui);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Tesouro-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#TesouroBotoes {
  width: 100%;
  height: 10dvh;
  background-color: var(--bg-escuro);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.tesouroBtn {
  width: 33%;
  height: 100%;
  background-color: var(--bg-escuro);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    SAFEROOM TELA
======================================================*/
#safeRoom-tela  {
  background-color: black;
  z-index: 11;
}

#SaferoomTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--bg-ui);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#saferoom-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#saferoomBotoes {
  width: 100%;
  height: 10dvh;
  background-color: var(--bg-escuro);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.tesouroBtn {
  width: 33%;
  height: 100%;
  background-color: var(--bg-escuro);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    EVENTOS TELA
======================================================*/
#encontro-tela  {
  background-color: black;
  z-index: 12;
}

#EventosTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--bg-ui);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Eventos-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#EventosBotoes {
  width: 100%;
  height: 10dvh;
  background-color: var(--bg-escuro);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.tesouroBtn {
  width: 33%;
  height: 100%;
  background-color: var(--bg-escuro);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    SUBIDA TELA
======================================================*/
#Subida-tela  {
  background-color: black;
  z-index: 12;
}

#SubidaTitle {
  width: 100%;
  height: 8vh;
  background-color: var(--bg-ui);
  border: 2px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#Subida-conteudo {
  flex-grow: 1;
  width: 100%;
  border: 2px solid var(--borda-ouro);
}

#SubidaBotoes {
  width: 100%;
  height: 10dvh;
  background-color: var(--bg-escuro);
  border: 2px solid var(--borda-ouro);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 2%;
}
.tesouroBtn {
  width: 33%;
  height: 100%;
  background-color: var(--bg-escuro);
  border: 1px solid var(--borda-ouro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* ======================================================
    POSIÇÕES DAS SALAS
======================================================*/

/*------+---- LAYOUT 1 (16 Salas) -----------------*/
#Sala1_1  { grid-area: 3 / 1; }  #Sala1_2  { grid-area: 3 / 2; }
#Sala1_3  { grid-area: 3 / 3; }  #Sala1_4  { grid-area: 3 / 4; }
#Sala1_5  { grid-area: 3 / 5; }  #Sala1_6  { grid-area: 3 / 6; }
#Sala1_7  { grid-area: 1 / 7; }  #Sala1_8  { grid-area: 2 / 7; }
#Sala1_9  { grid-area: 4 / 3; }  #Sala1_10 { grid-area: 5 / 3; }
#Sala1_11 { grid-area: 2 / 4; }  #Sala1_12 { grid-area: 1 / 4; }
#Sala1_13 { grid-area: 1 / 5; }  #Sala1_14 { grid-area: 1 / 6; }
#Sala1_15 { grid-area: 3 / 7; }  #Sala1_16 { grid-area: 3 / 8; }

/*------+---- LAYOUT 2 (16 Salas) -----------------*/
#Sala2_1  { grid-area: 3 / 1; }  #Sala2_2  { grid-area: 2 / 1; }
#Sala2_3  { grid-area: 1 / 1; }  #Sala2_4  { grid-area: 1 / 2; }
#Sala2_5  { grid-area: 1 / 3; }  #Sala2_6  { grid-area: 2 / 3; }
#Sala2_7  { grid-area: 3 / 3; }  #Sala2_8  { grid-area: 4 / 3; }
#Sala2_9  { grid-area: 4 / 4; }  #Sala2_10 { grid-area: 4 / 5; }
#Sala2_11 { grid-area: 4 / 6; }  #Sala2_12 { grid-area: 4 / 7; }
#Sala2_13 { grid-area: 1 / 4; }  #Sala2_14 { grid-area: 1 / 5; }
#Sala2_15 { grid-area: 3 / 7; }  #Sala2_16 { grid-area: 3 / 8; }

/*------+---- LAYOUT 3 (20 Salas) -----------------*/
#Sala3_1  { grid-area: 3 / 1; }  #Sala3_2  { grid-area: 3 / 2; }
#Sala3_3  { grid-area: 3 / 3; }  #Sala3_4  { grid-area: 3 / 4; }
#Sala3_5  { grid-area: 3 / 5; }  #Sala3_6  { grid-area: 3 / 6; }
#Sala3_7  { grid-area: 2 / 3; }  #Sala3_8  { grid-area: 1 / 3; }
#Sala3_9  { grid-area: 1 / 4; }  #Sala3_10 { grid-area: 1 / 5; }
#Sala3_11 { grid-area: 1 / 6; }  #Sala3_12 { grid-area: 2 / 6; }
#Sala3_13 { grid-area: 4 / 3; }  #Sala3_14 { grid-area: 5 / 3; }
#Sala3_15 { grid-area: 3 / 7; }  #Sala3_16 { grid-area: 3 / 8; }
#Sala3_17 { grid-area: 5 / 4; }  #Sala3_18 { grid-area: 5 / 5; }
#Sala3_19 { grid-area: 5 / 6; }  #Sala3_20 { grid-area: 4 / 6; }

/*------+---- LAYOUT 4 (20 Salas) -----------------*/
#Sala4_1  { grid-area: 2 / 1; }  #Sala4_2  { grid-area: 3 / 1; }
#Sala4_3  { grid-area: 4 / 1; }  #Sala4_4  { grid-area: 5 / 1; }
#Sala4_5  { grid-area: 5 / 2; }  #Sala4_6  { grid-area: 5 / 3; }
#Sala4_7  { grid-area: 5 / 4; }  #Sala4_8  { grid-area: 5 / 5; }
#Sala4_9  { grid-area: 5 / 6; }  #Sala4_10 { grid-area: 5 / 7; }
#Sala4_11 { grid-area: 4 / 7; }  #Sala4_12 { grid-area: 3 / 7; }
#Sala4_13 { grid-area: 2 / 6; }  #Sala4_14 { grid-area: 2 / 5; }
#Sala4_15 { grid-area: 2 / 7; }  #Sala4_16 { grid-area: 1 / 7; }
#Sala4_17 { grid-area: 2 / 4; }  #Sala4_18 { grid-area: 2 / 3; }
#Sala4_19 { grid-area: 3 / 3; }  #Sala4_20 { grid-area: 3 / 2; }

/*------+---- LAYOUT 5 (20 Salas) -----------------*/
#Sala5_1  { grid-area: 5 / 1; }  #Sala5_2  { grid-area: 4 / 1; }
#Sala5_3  { grid-area: 3 / 1; }  #Sala5_4  { grid-area: 2 / 1; }
#Sala5_5  { grid-area: 1 / 1; }  #Sala5_6  { grid-area: 1 / 2; }
#Sala5_7  { grid-area: 1 / 3; }  #Sala5_8  { grid-area: 1 / 4; }
#Sala5_9  { grid-area: 1 / 5; }  #Sala5_10 { grid-area: 1 / 6; }
#Sala5_11 { grid-area: 2 / 6; }  #Sala5_12 { grid-area: 3 / 6; }
#Sala5_13 { grid-area: 4 / 6; }  #Sala5_14 { grid-area: 5 / 6; }
#Sala5_15 { grid-area: 3 / 3; }  #Sala5_16 { grid-area: 3 / 4; }
#Sala5_17 { grid-area: 5 / 5; }  #Sala5_18 { grid-area: 5 / 4; }
#Sala5_19 { grid-area: 5 / 3; }  #Sala5_20 { grid-area: 4 / 3; }