/* =========================================
    TELA TAVERNA STYLES
   ========================================= */
   
#taverna-tela {
  background-color: #252628;
}

/* Titulo-TAVERNA */
#Taverna-Title{
  height: 7vh;
  background-color: #5d0018;
  color: white;
}
   
/* NPC-CAIXA */
#Taverna-NPC {
  height: 33vh;
  background-color: #252628;
  flex-direction: row;
}

#TNPC {
  width: 50vw;
  background-image: url('/imagens/Sprites/Innkeeper.png');
  background-size: cover;
}

#INFO-STATUS {
  width: 50vw;
  background-color: #252628;
  border-left: 2px solid #d28f22; 
  padding: 7px;
  color: white;
  flex-direction: column;
  gap: 10px;
}

#TStatus {
  height: 15%;
  background-color: #0d0f36;
}

#STATUS{
  height: 85%;
  flex-direction: column;
  background-color: #0d0f36;
}

#playerIN {
  height: 40%;
  flex-direction: row;
}

#playerICON {
  width: 40%;
  border-right: 2px solid #d28f22; 
  border-bottom: 1px solid #d28f22;
  background-color: #6e4522;
  background-image: url('/imagens/Icons/Character.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#playerN {
  width: 60%;
  border-bottom: 1px solid #d28f22;
}

.TRow {
  height: 20%;
  border-top: 1px solid #d28f22; 
  justify-content: center;
  align-items: center;
}
   
/* CONTEUDO-CAIXA */
#TAVERNAOpcoes {
  flex-grow: 1;
  background-color: #252628;
  flex-direction: column;
}

/* ROWS-CAIXA */
#row1, #row2 {
  height: 50%;
  background-color: #252628;
  flex-direction: column;
}
#row1 {
  padding: 20px 20px 10px 20px;
}
#row2 {
  padding: 10px 20px 20px 20px;
}

#TNPC-Dialogo {
  height: 100%;
  color: white;
  padding: 20px;
  background-color: #0d0f36;
}

#rowTitle, #IMGs-Cont-Desc {
  background-color: #0d0f36;
  flex-direction: row;
  color: white;
}

#rowTitle {
  height: 20%;
  gap: 10px;
}

#IMGs-Cont-Desc {
  height: 80%;
  gap: 10px;
}

/* CONTEUDO-DAS-ROWS */

#IMG {
  width: 100%;
  height: 100%;
}
.IMB {
  border-bottom: 2px solid #d28f22; 
  border-left: 2px solid #d28f22; 
  border-right: 2px solid #d28f22; 
}
   
/* BOTOES-CAIXA */

.btnT {
  height: auto;
  width: 100vw;
  background-color: #5d0018;
  border: 3px solid #d28f22;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

/* =========================================
    TELA MERCENARIOS STYLES
   ========================================= */
#MercenariosTITLE {
  height: 8%;
  background-color: #0d0f36;
  color: white;
}

.Mbody {
  height: 90vh;
  border-left: 2px solid #d28f22; 
  border-right: 2px solid #d28f22;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

#MERCENARIOS-body {
  color: white;
}
#CONTRATAR-body {
  color: white;
}

#Mercenariosl1, #Mercenariosl2 {
  height: 30%;
  background-color: #0d0f36;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}

.MSlot {
  height: 100%;
  width: 50%;
  background-color: #294380;
  border: 2px solid #d28f22;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#dd {
  height: 32%;
  flex-direction: row;
}

#IMercenario {
  width: 40%;
  background-color: #294380;
  flex-direction: column;
}

#IconMercenario {
  height: 80%;
  width: 100%;
  background-color: #294380;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btnp {
  height: 20%;
  background-color: #5d0018;
  color: white;
  border-top: 2px solid #d28f22;
  border-bottom: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-family: inherit;
}

#PerfilMercenario {
  width: 60%;
  background-color: #0d0f36;
  padding: 5px;
  gap: 5px;
  color: white;
  flex-direction: column;
}

.StatusMe {
  height: 20%;
  width: 100%;
  border-bottom: 1px solid #d28f22;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 5px;
}

#DANOMercenario {
  height: 20%;
}

.MMBox {
  height: 45%;
  border: 1px solid #d28f22;
  background-color: #294380;
}

#MContratos {
  height: 10%;
  border: 1px solid #d28f22;
  color: white;
  background-color: #0d0f36;
}

#MeuMercenario1 {
  flex-direction: row;
}

#IconButtonsM {
  width: 40%;
  height: 100%;
  border: 1px solid #d28f22;
  flex-direction: column;
}

.mm {
  width: 100%;
  height: 45%;
  border: 1px solid #d28f22;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#buttonsMercenarios {
  height: 55%;
  width: 100%;
  border: 1px solid #d28f22;
  display: flex;
  flex-direction: column;
}

.btnMT {
  height: 25%; 
  width: 100%;
  background-color: #5d0018;
  border: 1px solid #d28f22;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

#SttM {
  height: 100%;
  width: 60%;
  border: 1px solid #d28f22;
  box-sizing: border-box;
  padding: 6px;
}

#StatusMMercenario {
  height: 100%;
  width: 100%;
  border: 1px solid #d28f22;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2px;
  gap: 3px;
}

.MMS {
  height: 14%;
  width: 100%;
  border: 1px solid #d28f22;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 8px;
}

.colors {
  color: #0d0f36;
  color: #294380;
  color: #69d2cd;
  color: #b9f1d6;
}