/* =========================================
    TELA TAVERNA STYLES
   ========================================= */
   
#taverna-tela {
  background-color: #252628;
}
/* Titulo-TAVERNA */
#Taverna-Title{
  height: 10vh;
  background-color: #252628;
  justify-content: center;
  align-items: center;
  background-color: #5d0018;
  border: 2px solid #d28f22;
  color: white;
}
   
/* NPC-CAIXA */
#Taverna-NPC {
  height: 30vh;
  background-color: #252628;
  border: 2px solid #d28f22;
  flex-direction: row;
}
#TNPC {
  width: 50vw;
  background-image: url('/imagens/Sprites/Innkeeper.png');
  background-size: cover;
}
#TNPC-falas {
  width: 50vw;
  background-color: #252628;
  border-left: 2px solid #d28f22; 
  box-sizing: border-box;
  padding: 7px;
  color: white;
}
   
/* CONTEUDO-CAIXA */
#TAVERNAOpcoes {
  width: 100%;
  flex-grow: 1;
  background-color: #252628;
  flex-direction: column;
}

/* ROWS-CAIXA */
#row1, #row2 {
  height: 50%;
  background-color: #252628;
  flex-direction: column;
}
#row1 {
  padding: 20px 20px 10px 20px;
}
#row2 {
  padding: 10px 20px 20px 20px;
}
   
#rowTitle, #rowImagens2, #IMGs-Cont-Desc {
  background-color: #252628;
  flex-direction: row;
  color: white;
}

#rowTitle {
  height: 20%;
  gap: 10px;
}

#IMGs-Cont-Desc {
  height: 80%;
  gap: 10px;
}

/* CONTEUDO-DAS-ROWS */

#STATUS-BOX {
  background-color: purple;
}

#IMG {
  width: 100%;
  height: 100%;
}
   
/* BOTOES-CAIXA */
.btnT {
  height: auto;
  width: 50vw;
  background-color: #5d0018;
  border: 2px solid #d28f22;
  color: white;
}