/* =========================================
   ESTILOS PARA TELA INVENTARIO
========================================= */
:root {
  --cor-principal-azul: #294380;
  --cor-alerta-violeta: #5d0018;
  --cor-complementar-cinza: #252628;
  --cor-terceario-Verde: #31a35c;
  --cor-secundaria-amarelo: #8a8300;
  --cor-quartiaria-roxo: #400ca0;
  --cor-ui-azulMarinho: #008ca3;
  --borda-ouro: #d28f22;
  --borda-prata: #a0abbc;
  --cor-vida: #157407;
  --cor-mana: #0284ba;
}

#inventario-tela {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
}
#inventarioTITLE {
  height: 6vh;
  width: 100%;
  background-color: #0d0f36;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-left: 2px solid #a0abbc;
  border-right: 2px solid #a0abbc;
  border-top: 2px solid #a0abbc;
  color: white; 
}
#inventarioBTN {
  height: 9vh;
  width: 98%;
  position: relative;
  left: 1%;
  top: 0%;
  padding: 1%;
  gap: 1%;
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 2px solid var(--borda-prata);
  color: white;
  text-shadow: 2px 2px 4px black; 
  box-sizing: border-box;
}
#inventario-body {
  flex: 1; 
  display: flex;
  flex-direction: column;
  border-top: 2px solid #d28f22;
  border-left: 2px solid #d28f22;
  border-right: 2px solid #d28f22;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}

/* 2. DIVISÃO DA TELA */
#IRow1, #IRow2 {
  flex: 1;
  width: 100%;
  background-color: #0d0f36;
  display: flex;
  flex-direction: column;
}

#Gears-box {
  width: 100%;
  height: 100%;
  background-color: #0d0f36;
  border: 2px solid #a0abbc;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}


/*                     GEARS SLOTS                       */
.Gslots {
  height: 100%;
  width: 100%;
  background-color: #5d0018;
  border: 1px solid #a0abbc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated; 
  image-rendering: crisp-edges; 
}
#SpriteIdlePlayer {
  height: 100%;
  width: 100%;
  background-color: var(--cor-complementar-cinza);
  border: 1px solid #a0abbc;
  grid-row: 1 / 5; 
  grid-column: 2 / 4;
}
#SHelmet { 
  background-image: url('/imagens/Icons/helmet.png'); 
  grid-row: 1; grid-column: 1;
}
#SArmor { 
  background-image: url('/imagens/Icons/armor.png'); 
  grid-row: 2; grid-column: 1;
}
#SWeapon  { 
  background-image: url('/imagens/Icons/sword.png'); 
  grid-row: 3; grid-column: 1;
}
#SRing { 
  background-image: url('/imagens/Icons/Rings.png'); 
  grid-row: 4; grid-column: 1;
}
#SAmulet { 
  background-image: url('/imagens/Icons/amulet.png'); 
  grid-row: 1; grid-column: 4;
}
#SShield  { 
  background-image: url('/imagens/Icons/shield.png'); 
  grid-row: 2; grid-column: 4;
}
#SPants { 
  background-image: url('/imagens/Icons/pants.png'); 
  grid-row: 3; grid-column: 4;
}
#SBoots { 
  background-image: url('/imagens/Icons/boots.png'); 
  grid-row: 4; grid-column: 4;
}
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/* 1. CONTAINER DE BAIXO DA TELA IRow2*/ 
/*--------------------------------------------------------*/
#IRow2 {
  border: 2px solid #a0abbc;
  overflow: hidden;
}

#items-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*               CATEGORIAS CONTAINER                    */
#CategoriaItems{
  height: 7vh;
  width: 100%;
  background-color: #5d0018;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #a0abbc;
  box-sizing: border-box;
  gap: 2px;
  padding: 3px;
}

.SlotCategory {
  flex: 1;
  border: 2px solid #d28f22;
  background-color: #69d2cd;
}
.CategorySelect {
  height: 100%;
  width: 20%;
  border: 2px solid black;
  background-color: #2a7f8a;
}

#CAll {
  color: black;
  font-size: 20px;
}
#CWeapons { 
  background-image: url('/imagens/Icons/sword.png'); }
#CArmors { 
  background-image: url('/imagens/Icons/armor.png'); }
#CPotions { 
  background-image: url('/imagens/Icons/IconPotion.png'); }
#CKeys { 
  background-image: url('/imagens/Icons/Rings.png'); }
/*------------------------------------------------------*/


/*               ITEMS SLOTS CONTAINER                    */
#ItemsSlots{
  flex-grow: 1;
  width: 100%;
  background-color: var(--cor-complementar-cinza);
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10vh;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

#ItemsSlots::-webkit-scrollbar {
  display: none; 
}

.SlotInven {
  border: 2px solid #d28f22;
  background-color: #5d0018;
  display: flex;
  flex-direction: row;
}
/*------------------------------------------------------*/


/*              INFOS DOS ITEMS CONTAINER                 */
#fundo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#caixa-flutuante {
  width: 90%;
  height: 70%;
  background-color: #0d0f36;
  border: 2px solid #d28f22;
  display: flex;
  flex-direction: column;
}

#ItemTitleName {
  width: 100%;
  height: 10%; 
  border-bottom: 2px solid #d28f22; 
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#ItemsDescricoesbox {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1%; gap: 1%;
}
#primeiraRow {
  width: 100%; height: 40%; 
  border: 2px solid #d28f22;
  flex-direction: row;
  display: flex;
}
#ItemImagemIcon {
  width: 40%; height: 100%; 
  border: 2px solid #d28f22;
  background-color: white;
}
#ItemInfoBasicas {
  width: 60%; height: 100%; 
  border: 2px solid #d28f22;
  background-color: var(--cor-ui-azulMarinho);
}
#ItemInfoGerais {
  width: 100%; height: 60%; 
  border: 2px solid #d28f22;
  background-color: var(--cor-quartiaria-roxo);
}

#BotoesBOX {
  width: 100%; height: 20%; 
  border-top: 2px solid #d28f22;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px; padding: 5px;
}
.btnInventory {
  width: 100%;  
  height: 100%;
  background-color: #5d0018;
  border: 2px solid #a0abbc;
  color: white; 
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}
#btnEQUIPAR { grid-row: 1; grid-column: 1; }
#btnCOMPARAR { grid-row: 1; grid-column: 2; }
#btnFECHAR { grid-row: 2; grid-column: 1 / 3; }
/*------------------------------------------------------*/