/* =========================================
   ESTILOS PARA TELA BATALHA
========================================= */
.colors{
  color: #0d0f36;
  color: #294380;
  color: #69d2cd;
  color: #b9f1d6;
  color: #5d0018;
}

.bordas {
  color: #d28f22;
  color: #a0abbc;
  color: #2a7f8a;
}

#battle-tela {
  box-sizing: border-box;
  gap: 5px;
}

#BATTLE-BAR {
  height: 10vh;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 100;
}
.btnBattle {
  width: 100%;
  height: 7vh;
  font-size: 12px;
  color: white;
  background-color: #121312;
  border: 2px solid white;
  cursor: pointer;
}

#BATTLE-TOWER {
  height: 93vh;
  width: 100%;
  background-color: #0d0f36;
  border: 2px solid #69d2cd;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 2px;
  padding: 5px;
  overflow: hidden;
}

.Floors {
  width: 100%;
  min-height: 24%;
  border: 2px solid white;
  background-color: #294380;
  box-sizing: border-box;
  padding: 5px;
}

.Separador {
  width: 100%;
  min-height: 5%;
  border: 2px solid white;
  background-color: balck;
}

.BattlesTitles {
  width: 100%;
  height: 70%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  padding: 8px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSlot {
  width: 100%;
  height: 30%;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.btnPBattle {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: white;
  background-color: #121312;
  border: 1px solid white;
  cursor: pointer;
}

.buttonSlotB {
  width: 100%;
  height: 30%;
  font-size: 12px;
  color: white;
  background-color: #121312;
  border: 1px solid white;
  cursor: pointer;
}

/* =========================================
   ESTILOS PARA TELA COMBATE
========================================= */

#combate-tela {
  width: 100vw;
  height: 100dvh;
  background-color: #294380;
  display: flex;
  flex-direction: column;
}

#InfoRow {
  width: 100%;
  height: 15%; 
  border: 1px solid white;
}

.battlefield-row {
  width: 100%;
  height: 55%; 
  position: relative;
  border: 1px solid white;
}

.ui-row {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a2a4f;
  border-top: 2px solid #a0abbc;
  border: 1px solid white;
}

.Aliados, .Enemies {
  position: absolute;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom; 
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.4));
}

/* === INIMIGOS (Coluna da Direita) === */
.Enemies {
  background-image: url('/imagens/monstros/goblinE.png');
}

#Enemy3 { right: 5%; bottom: 65%;  z-index: 1; }
#Enemy1 { right: 5%; bottom: 45%; z-index: 2; }
#Enemy2 { right: 5%; bottom: 25%; z-index: 3; } 

/* === ALIADOS (Coluna da Esquerda) === */
.Aliados {
  background-image: url('/imagens/Characters/knight_batle.png');
}
#Aliado2 { left: 5%; bottom: 60%;  z-index: 1; } 
#Player  { left: 5%; bottom: 40%; z-index: 2; } 
#Aliado1 { left: 5%; bottom: 20%; z-index: 3; }


/* === CAIXA PRETA DE AÇÕES === */
#BoxAcoesInfos {
  width: 95%; 
  height: 90%;
  background-color: #121212;
  border: 2px solid #2a7f8a;
  border-radius: 8px;
}