/* =========================================
   ESTILOS PARA O BODY E LAYOUTS
========================================= */
/* Classes Utilitárias */
.Border2S { border: 2px solid var(--borda-ouro); }
.DisplayFlex { display: flex; }
.A-I_Center { align-items: center; }
.J-C_Center { justify-content: center; }
.DFlexALCenter { display: flex; align-items: center; justify-content: center; }
.ImgCover { background-size: cover; background-position: center;}
.imgContain { background-position: center; background-repeat: no-repeat; background-size: contain; }
.BoxSizing { box-sizing: border-box; }
.width100 { width: 100%; }
.height100 { height: 100%; }

:root {
  --cor-principal-azul: #294380;
  --cor-alerta-violeta: #5d0018;
  --cor-complementar-cinza: #252628;
  --cor-terceario-Verde: #31a35c;
  --cor-secundaria-amarelo: #8a8300;
  --cor-quartiaria-roxo: #400ca0;
  --cor-ui-azulMarinho: #008ca3;
  --borda-ouro: #d28f22;
  --borda-prata: #a0abbc;
  --cor-vida: #157407;
  --cor-mana: #0284ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. O Corpo do Jogo */
body {
  width: 100vw;
  height: 100dvh;
  background-color: #1a1a1a;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tela {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.oculto {
  display: none !important;
}

#tela-inicial, #tela-classe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #294380;
  color: white;
}

#Botoes-container {
  width: 100%;
  height: 8vh;
  background-color: #121312;
  font-family: 'MedievalSharp', cursive;
  border: 2px solid var(--borda-prata);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 7px;
  gap: 3px;
}

.btn-style {
  width: 30vw;
  height: 10vh;
  font-size: 12px;
  color: white;
  background-color: #121312;
  border: 2px solid white;
  cursor: pointer;
}

/* =========================================
   ESTILO PADRÃO (MOBILE FIRST - CELULAR)
   ========================================= */

#layout-mobile {
  display: block;
  width: 100%;
  height: 100%;
}

#torre-tela {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100dvh;
  position: relative;
  padding: 0;
}

#torre-tela::-webkit-scrollbar {
  display: none; 
}

#torre-conteudo {
  width: 100%;
  min-height: 200vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to top, #0d0f36, #294380); 
  padding: 20px;
}

#MENU-BAR {
  height: 9vh;
  width: 98%;
  position: sticky;
  left: 1%;
  z-index: 100;
  bottom: 0;
  padding: 1%;
  gap: 1%;
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 2px solid var(--borda-prata);
}
#mapaButton {
  background-image: url('/imagens/Icons/Mapa.png');
}
#backButtom {
  background-image: url('/imagens/Icons/Backpack.png');
}
#perfilButtom {
  background-image: url('/imagens/Icons/Character.png');
}

.contrucao {
  width: 100%;
  height: 30vh;
  background-color: #318bac;
  border: 2px solid #d1b87a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}
/* =========================================
   ESTILOS PARA TELA CRIACAO
========================================= */
#Criacao-tela {
  background-color: #2c3e50;
  background-image: url('/imagens/cenarios/Criacao_cenario.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#CriacaoTitle {
  width: 100%; height: 8%;
  border: 2px solid var(--cor-principal-azul);
  background-color: gray;
  display: flex;
  place-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

#CriacaoinfoPersonagens {
  width: 100%; height: 28%;
  border: 2px solid var(--cor-principal-azul);
  background-color: var(--cor-complementar-cinza);
  opacity: 0;
}

#CriacaoPersonagens {
  width: 91%; flex: 1;
  background-image: url('/imagens/Characters/knight_front.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

#CriacaoIconsPersonagens {
  width: 100%; height: 10%;
  border: 2px solid var(--cor-principal-azul);
  background-color: black;
  display: grid;
  gap: 1%; padding: 1%;
  position: relative;
  bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.PIconCriacao {
  width: 100%; height: 100%;
  border: 2px solid var(--cor-principal-azul);
  background-color: #e2e80272;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#knight {
  background-image: url('/imagens/Sprites/cavaleiro_retrato.png');
}
#archer {
  background-image: url('/imagens/Sprites/archer_retrato.png');
}
#wizard {
  background-image: url('/imagens/Sprites/wizard_retrato.png');
}

#BtnConfirmarPersonagem {
  width: 65%; height: 7%;
  border: 2px solid var(--cor-quartiaria-roxo);
  background-color: black;
  color: white;
  font-size: 20px;
  z-index: 3;
  position: relative;
  left: 18%;
  display: flex;
  place-content: center;
  place-items: center;
}