#tela-inicial, #tela-classe, #forja-tela {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.btn-style {
  width: 30vw;
  height: 10vh;
  font-size: 12px;
  color: white;
  background-color: purple;
  border: 2px solid #yellow;
}

.oculto {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
}

/* A Janela do Jogo */
#janela-do-jogo {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#janela-do-jogo::-webkit-scrollbar {
    display: none;
}

#torre-tela {
    width: 100%;
    min-height: 200vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, #3a2e28, #171c26); 
    padding: 20px;
}

.contrucao {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #d1b87a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}