/* =========================================
   ESTILOS PARA O BODY E LAYOUTS
   ========================================= */
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. O Corpo do Jogo */
body {
    width: 100vw;
    height: 100dvh;
    background-color: #1a1a1a;
    overflow: hidden;
}

.tela {
    width: 98vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
}

.oculto {
    display: none !important;
}

#tela-inicial, #tela-classe, #forja-tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}

.btn-style {
    width: 30vw;
    height: 10vh;
    font-size: 12px;
    color: white;
    background-color: #121312;
    border: 2px solid white;
    cursor: pointer;
}

/* =========================================
   ESTILO PADRÃO (MOBILE FIRST - CELULAR)
   ========================================= */

#layout-pc {
    display: none; 
}

#layout-mobile {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#torre-tela {
    overflow-y: auto;
    overflow-x: hidden;
}

#torre-tela::-webkit-scrollbar {
    display: none; 
}

#torre-conteudo {
    width: 100%;
    min-height: 200vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, #3a2e28, #171c26); 
    padding: 20px;
}

.contrucao {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #d1b87a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* =========================================
   MEDIA QUERY (TELA DE COMPUTADOR / TABLET)
   ========================================= */

@media (min-width: 768px) {
    
    #layout-mobile {
        display: none; 
    }

    #layout-pc {
        display: flex; 
        width: 100%;
        height: 100%;
        background-color: #2c3e50;
        align-items: center;
        justify-content: center;
    }

    #cidade-conteudo {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .predio {
        width: 150px;
        height: 150px;
        background-color: #8e44ad;
        border: 2px solid white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}

/* =========================================
    TELA FORJA
   ========================================= */
   
   #forja-tela {
     width: 100%;
     height: 100%;
     background-image: url('/imagens/Sprites/Blacksmith.png');
     background-size: cover;
   }
   
   #Forja-container {
     width: 100vw;
     height: 100vh;
     border: 2px solid #d28f22;
   }
   
   #Forja-body {
     height: 90vh;
     width: 100vw;
     background-color: #252628;
   }
   
   .btnF {
     height: auto;
     width: 25vw;
     background-color: #5d0018;
     border: 2px solid #d28f22;
     color: white;
   }
   
   /* =========================================
    TELA guilda
   ========================================= */
   
    #guilda-tela {
     width: 100%;
     height: 100%;
   }
   
   #guilda-container {
     height: 100vh;
     width: 100vw;
     background-color: #252628;
   }
   
   #guilda-body {
     height: 87vh;
     width: 100vw;
     background-color: #252628;
   }
   
   .btnG {
     height: auto;
     width: 25vw;
     background-color: #5d0018;
     border: 2px solid #d28f22;
     color: white;
   }
   
   /* =========================================
    TELA taverna
   ========================================= */
   
   #taverna-tela {
     width: 100%;
     height: 100%;
   }
   
   #taverna-container {
     height: 100vh;
     width: 100vw;
     background-color: #252628;
   }
   
   #taverna-body {
     height: 90vh;
     width: 100vw;
     background-color: #252628;
   }
   
   .btnT {
     height: auto;
     width: 25vw;
     background-color: #5d0018;
     border: 2px solid #d28f22;
     color: white;
   }
   
   /* =========================================
    TELA batle
   ========================================= */