/* Importação única (está correta!) */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=MedievalSharp&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

.saira-stencil {
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.medievalsharp {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.jersey-15 {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.colors {
  color: #0d0f36;
  color: #294380;
  color: #69d2cd;
  color: #b9f1d6;
}

/* =========================================
    TELA FORJA
=========================================== */
#forja-tela {
  background-color: #121312;
}

#Forja-Title {
  height: 7vh;
  color: white;
  background-color: #5d0018;
  border-left: 2px solid #d28f22;
  border-right: 2px solid #d28f22;
  border-top: 2px solid #d28f22;
}
   
   /* NPC-CAIXA */
#forja-NPC {
  height: 20vh;
  flex-direction: row;
}
   
#FNPC {
  width: 50%;
  height: 100%;
  background-image: url('/imagens/Sprites/Mercador_Mobile.png');
  background-size: cover;
}
   
#NPCF-falas {
  width: 50%;
  height: 100%;
  background-color: #252628;
  border-left: 2px solid #d28f22;
}
   
/* CENTRAL-CAIXA */
.Forja {
  flex-grow: 1;
  width: 100%;
  background-color: #252628;
  border-left: 2px solid #d28f22;
  border-right: 2px solid #d28f22;
  display: flex;
  box-sizing: border-box;
}

/* ENCHANTER-CAIXA */
#Enchanter-body {
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.colunaEnchanter{
  height: 100%;
  width: 50%;
  background-color: #5d0018;
  border: 2px solid #d28f22;
}
/* COLUNA1 de ENCHANTER */
#coluna1 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px;
  gap: 1px;
}
#ItemIcon {
  height: 35%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #294380;
  background-image: url('/imagens/Icons/Backpack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#Recursos {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  gap: 4px;
}
#RecursosTitle {
  height: 12%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #0d0f36;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#RecursosList {
  height: 88%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #294380;
}

/* COLUNA2 de ENCHANTER */
#coluna2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px;
  gap: 4px;
}

#EnchanterTitle {
  height: 12%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #0d0f36;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#BtnLista {
  height: 88%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px;
  gap: 4px;
}
.BtnList {
  height: 12%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #294380;
}

/* UPGRADE-CAIXA */
#Upgrade-body {
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

/* UPGRADE-LINHA1 */
#UpgradeL1 {
  height: 50%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #294380;
  display: flex;
  flex-direction: row;
  padding: 6px;
  gap: 5px;
}
#UpItem {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
#UpItemIcon {
  height: 80%;
  width: 100%;
  background-image: url('/imagens/Icons/Backpack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#btnUpar {
  height: 20%;
  width: 100%;
  background-color: #5d0018;
  border: 2px solid #d28f22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UpBtns {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.Upslot {
  height: 50%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #0d0f36;
}

/* UPGRADE-LINHA2 */
#UpgradeL2 {
  height: 50%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #294380;
  display: flex;
  flex-direction: row;
  padding: 6px;
  gap: 5px;
}
#UpMateriais {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#UpMateriaisTitle {
  height: 15%;
  width: 100%;
  border: 2px solid #d28f22;
  background-color: #0d0f36;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#UpMateriaisList {
  height: 85%;
  width: 100%;
  border: 2px solid #d28f22;
}

#UpItemsContainer {
  height: 100%;
  width: 60%;
  border: 2px solid #d28f22;
  display: flex;
  flex-direction: column;
}
#ItemsCTitle {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid #d28f22;
  background-color: #0d0f36;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#ITEMSLIST {
  height: 85%;
  width: 100%;
  border: 2px solid #d28f22;
  box-sizing: border-box;
  padding: 3px;
  gap: 5px;
}
.meusItems {
  height: 25%;
  width: 100%;
  border: 2px solid #d28f22;
}

/* BOTOES-CAIXA */

.btnF {
  height: auto;
  width: 25vw;
  background-color: #5d0018;
  border: 2px solid #d28f22;
  color: white; 
  cursor: pointer;
  font-family: inherit;
} 

/* ForjaBuy-CAIXA */
#Forja-body {
  display: flex;
  flex-direction: column;
}

#rowFC {
  display: flex;
  flex-direction: row;
  color: white;
  height: 12%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.FTitleC {
  height: 100%;
  width: 20%;
  border: 2px solid #d28f22;
  background-color: #5d0018;
}
#WCategoria {
  background-image: url('/imagens/Icons/sword.png');
}
#ArmorCategoria {
  background-image: url('/imagens/Icons/armor.png');
}
#AceCategoria {
  background-image: url('/imagens/Icons/Rings.png');
}

#ForjaItemsContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.fslot {
  height: 100%;
  width: au%;
  border: 2px solid #d28f22;
  background-color: #294380;
  display: flex;  
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*======≠===========================
        POPUP da FORJA 
====================================*/
.PopUps, #ForjaPopUp {
  position: absolute;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* ForjaPopUp - Filho */
#PopUp-money {
  width: 40%;
  height: 7%;
  color: white;
  border-left: 3px solid #a0abbc;
  border-right: 3px solid #a0abbc;
  border-top: 3px solid #a0abbc;
  background-color: #294380;
  display: grid;
  place-items: center;
}

/* ForjaPopUp - Filho */
#PopUpInfos {
  width: 80%;
  height: 65%;
  background-color: #294380;
  display: flex;
  flex-direction: column;
  border: 3px solid #a0abbc;
}

/* PopUpInfos - Filho */
#PopUp-ItemNome {
  width: 100%;
  height: 9%;
  border-bottom: 3px solid #a0abbc;
  background-color: #0d0f36;
  color: white;
  font-size: 24px;
}

/* PopUpInfos - Filho */
#PopUp-Buttons {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  padding: 4px;
  gap: 4px;
}
.PopUpBtn {
  width: auto;
  height: auto;
  border: 2px solid #d28f22;
  background-color: #5d0018;
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#PopUp-BTNcomprar {
  grid-column: 1/3;
}

/* PopUpInfos - Filho */
#PopUp-IconInfo {
  width: 100%;
  flex-grow: 1;
  border-bottom: 3px solid #a0abbc;
  display: flex;
  flex-direction: row;
  box-shadow: border-box;
  padding: 4px;
  gap: 2px;
}
#FItemIcon, #PopUp-itemInfo, #PopUp-Comparacao {
  display: flex;
  flex-direction: column;
  border: 2px solid #d28f22;
}
.FItemIcon-filho {
  background-color: #0d0f36;
}
#ImgF, #ImgFCom {
  width: 100%;
  height: 40%;
  border-bottom: 2px solid #d28f22;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ImgF img, #ImgFCom img {
  max-width: 95%; 
  max-height: 95%; 
  object-fit: contain;
}

#InfoF, #InfoFCom {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.STatusRow, .STatusRow2 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding-left: 5px;
  font-size: 12px;
}
.STatusRow {
  border-bottom: 1px solid #d28f22;
}

.FC {
  width: 50%;
  height: 100%;
}

#PopUp-itemInfo {
}
#za {
  width: 100%;
  height: 90%;
  border: 1px solid #d28f22;
}
#PrecosITEMS {
  width: 100%;
  height: 10%;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 8px;
  background-color: #0d0f36;
}